# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

*.ts
src/ __pycache__
*.conf
src/*.cmd
*.orig
gui/*.o
gui/moc_*.o
gui/moc_*.cpp
gui/qrc_*.o
gui/qrc_*.cpp
gui/FTPDownloader
gui/Makefile*
gui/debug
gui/release
*.temp
*.json
*.srt
*.spec
*.mp4
*.lftp-pget-status
LK_LineTotal.py
gui/*
